body {
	margin: 30px;
}

table {
	width: 100%;
}

tr:hover {
	background-color: #EEE;
}

.item {
	margin: 10px;
}

.item:nth-child(1){
	display: block;
	float: left;
	width: 10%;
};

.item:nth-child(2){
	display: block;
	width: 10%;
};

.item:nth-of-type(3){
	display: block;
	width: 20%;
};

.item:nth-of-type(4){
	display: block;
	width: 20%;
};

.item:nth-of-type(5){
	display: block;
	width: 30%;
};

.item:nth-of-type(6){
	display: block;
	width: 10%;
};

.den-graph-bar{
	margin-left: 10px;
}

