<div class="container">
	<div class="landing-splash">
		<h1>denmates</h1>
		<h3>a project to track shared expenses</h3>
	</div>
	<div class="landing-content">
		<h2>This application is a current side-project of <a href="http://www.linkedin.com/in/derekryanbarncard/">Derek Barncard</a>.</h2>
		<h3>Many features are still in development, but feel free to <a ui-sref="home">take a look around</a>!</h3>
		<div class="landing-planned">
			<h1>planned development</h1>
			<div layout="row">
				<div class="landing-planned-item" flex="33">
					<i class="fa fa-lock fa-2x"></i>
					Authentication / multi-user support
				</div>
				<div class="landing-planned-item" flex="33">
					<i class="fa fa-mobile fa-2x"></i>
					Mobile support (responsive then native)
				</div>
				<div class="landing-planned-item" flex="33">
					<i class="fa fa-tags fa-2x"></i>
					Better tagging and categorization
				</div>
			</div>
			<div>
				<h4>...and general fixes. The current version was developed in under two days, so stay tuned for a full release</h4>
			</div>
		</div>
	</div>
</div>
