<md-dialog aria-label="Add Mates to Den">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Add Mates to Den</md-subheader>
    <md-text-float label="Search" ng-model="search"></md-text-float>
      <div ng-repeat="mate in data.mates | filter:search">
        <md-checkbox value="{{mate._id}}" ng-model="selectedMates[mate._id]" aria-label="{{mate.name}}">{{mate.name}}</md-checkbox>
      </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()">
     Cancel
    </md-button>
    <md-button ng-click="addMatesToDen()" class="md-primary">
     Add!
    </md-button>
  </div>
</md-dialog>